/* Profile Section */
.profile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.profile-text {
    flex: 2;
}

.profile-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
}

.profile-subtitle {
    font-size: 1.1rem;
    font-weight: 470;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.2;
}

.profile-content {
    color: var(--secondary);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5em;
}

.profile-content p {
    margin-bottom: 0.9em;
}

.profile-avatar {
    flex: 1;
    text-align: center;
}

.profile-avatar img.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.subsection {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subsection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subsection-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.subsection-details {
    flex: 3;
}

.subsection-info {
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: #999;
}

.date, .location {
    margin: 0;
}

.subsection-link:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.entity {
    font-weight: bold;
    font-size: 1.1rem;
}

.role {
    font-size: 0.9rem;
    color: #666;
}

.date {
    font-size: 1rem;
    color: #999;
    text-align: right;
}

.location {
    font-size: 0.9rem;
    color: #999;
    text-align: right;
}

.interests-list {
    margin-top: 5px;
    list-style-type: disc;
    margin-left: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-avatar {
        margin-top: 20px;
    }
}